<div class="clearfix">
  <div class="checkout-boxleft">
    <div class="checkout-boxleft-form">
    </div>
  </div>
  <div class="checkout-boxright" style="opacity:0.35;">
    <%= form_for @shopping_address, url: shopping_addresses_path, html: {class: 'custom'} do |address_form| %>
      <%= render :partial => 'shopping/addresses/form', :locals => {:f => address_form}  %>
      <%= f.submit 'Submit', :class => 'button' %>
    <% end %>
  </div>
</div>
