<fieldset>
  <legend>New Merchant</legend>

  <div class="row">
    <div class="six large-6 columns">
      <label>Name</label>
      <%= form.text_field :name %>

      <label>Url</label>
      <%= form.text_field :url %>

      <label>Description</label>
      <%= form.text_area :description %>

    </div>
  </div>
</fieldset>
