<h3>Merchants</h3>

<% content_for :sidemenu do %>
  <div style="text-align:right">
    <%= link_to "New Merchant", new_admin_merchant_path, :class => "button", :id => "new_user_button" %>
  </div>
<% end %>


<div class="admin_merchants">
  <%= render 'merchants' %>
  <%= will_paginate @merchants %>
</div>

