<%= render :partial => '/admin/merchandise/wizards/sub_header'%>

<h3>Product type</h3>

<p>Use search box to find all types in which you are interested.</p>

<div class='product_type_list'>
  <div id='shopping_addresses_selections' class='clearfix'>
  </div>
  <input data-autocomplete placeholder='start typing' />
  <hr/>
  <h4>Candidates list</h4>
  <ul data-list>
    <li data-item data-url="/admin/merchandise/wizards/product_types/">
      <span data-label>Example label</span>
      <%= form_tag nil, method: :put, 'data-form'=>'' do %>
        <%= submit_tag 'use' %>
      <% end %>
      &nbsp;or&nbsp;
      <a href="#" data-remove>Remove</a>
    </li>
  </ul>
</div>
<script type="text/javascript">
$(function(){
   $('.product_type_list').selective({
      source: '<%= autocomplete_product_type_name_admin_merchandise_wizards_product_types_url %>',
      preventDuplicates: true
   });
})
</script>
